@page "/"

@attribute [Authorize]
@page "/dashboard"
<PageTitle>Dashboard</PageTitle>
<RadzenRow Gap="5" RowGap="5">
    <RadzenColumn SizeLG="6" SizeXL="3">
        <RadzenCard Style="margin: 16px">
            <RadzenRow>
                <RadzenColumn SizeXS="4">
                    <RadzenRadialGauge Style="width: 100%; height: 300px;">
                <RadzenRadialGaugeScale StartAngle="-150" EndAngle="150" Step="20" Min="0" Max="260" TickPosition=Radzen.Blazor.GaugeTickPosition.Inside>
                    <RadzenRadialGaugeScalePointer Value=@normalSpeedValue Length="0.6" ShowValue=true>
                        <Template>
                            <h4>
                                @normalSpeedValue <sup>km/h</sup>
                            </h4>
                        </Template>
                    </RadzenRadialGaugeScalePointer>
                    <RadzenRadialGaugeScaleRange From="0" To="90" Fill="green" />
                    <RadzenRadialGaugeScaleRange From="90" To="140" Fill="orange" />
                    <RadzenRadialGaugeScaleRange From="140" To="260" Fill="red" />
                </RadzenRadialGaugeScale>
            </RadzenRadialGauge>
                </RadzenColumn>
                <RadzenColumn SizeXS="8">
                    <RadzenHeading Text="# of vehicles at Normal Speed" Size="H4" Style="text-align: right; margin: 0px"></RadzenHeading>
                    <RadzenHeading Text="LAST ONE MONTH" Size="H4" Style="text-align: right; margin: 0px; font-size: 12px"></RadzenHeading>
                    <RadzenHeading Text="@normalSpeedCount.ToString()" Size="H4" Style="text-align: right; font-size: 24px; margin-top: 13px"></RadzenHeading>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
    <RadzenColumn SizeLG="6" SizeXL="3">
        <RadzenCard Style="margin: 16px">
            <RadzenRow>
                <RadzenColumn SizeXS="4">
                   <RadzenRadialGauge Style="width: 100%; height: 300px;">
                <RadzenRadialGaugeScale StartAngle="-150" EndAngle="150" Step="20" Min="0" Max="260" TickPosition=Radzen.Blazor.GaugeTickPosition.Inside>
                    <RadzenRadialGaugeScalePointer Value=@slowSpeedValue Length="0.6" ShowValue=true>
                        <Template>
                            <h4>
                                @slowSpeedValue <sup>km/h</sup>
                            </h4>
                        </Template>
                    </RadzenRadialGaugeScalePointer>
                    <RadzenRadialGaugeScaleRange From="0" To="90" Fill="green" />
                    <RadzenRadialGaugeScaleRange From="90" To="140" Fill="orange" />
                    <RadzenRadialGaugeScaleRange From="140" To="260" Fill="red" />
                </RadzenRadialGaugeScale>
            </RadzenRadialGauge>



                </RadzenColumn>
                <RadzenColumn SizeXS="8">
                    <RadzenHeading Text="# of vehicles at Slow Speed" Size="H4" Style="text-align: right; margin: 0px"></RadzenHeading>
                    <RadzenHeading Text="LAST ONE MONTH" Size="H4" Style="text-align: right; margin: 0px; font-size: 12px"></RadzenHeading>
                    <RadzenHeading Text="@slowSpeedCount.ToString()" Size="H4" Style="text-align: right; font-size: 24px; margin-top: 13px"></RadzenHeading>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
    <RadzenColumn SizeLG="6" SizeXL="3">
        <RadzenCard Style="margin: 16px">
            <RadzenRow>
                <RadzenColumn SizeXS="4">
                    <RadzenRadialGauge Style="width: 100%; height: 300px;">
                <RadzenRadialGaugeScale StartAngle="-150" EndAngle="150" Step="20" Min="0" Max="260" TickPosition=Radzen.Blazor.GaugeTickPosition.Inside>
                    <RadzenRadialGaugeScalePointer Value=@fastSpeedValue Length="0.6" ShowValue=true>
                        <Template>
                            <h4>
                                @fastSpeedValue <sup>km/h</sup>
                            </h4>
                        </Template>
                    </RadzenRadialGaugeScalePointer>
                    <RadzenRadialGaugeScaleRange From="0" To="90" Fill="green" />
                    <RadzenRadialGaugeScaleRange From="90" To="140" Fill="orange" />
                    <RadzenRadialGaugeScaleRange From="140" To="260" Fill="red" />
                </RadzenRadialGaugeScale>
            </RadzenRadialGauge>



                </RadzenColumn>
                <RadzenColumn SizeXS="8">
                    <RadzenHeading Text="# of vehicles at Excessive Speed" Size="H4" Style="text-align: right; margin: 0px"></RadzenHeading>
                    <RadzenHeading Text="LAST ONE MONTH" Size="H4" Style="text-align: right; margin: 0px; font-size: 12px"></RadzenHeading>
                    <RadzenHeading Text="@fastSpeedCount.ToString()" Size="H4" Style="text-align: right; font-size: 24px; margin-top: 13px"></RadzenHeading>
                </RadzenColumn>
            </RadzenRow>
        </RadzenCard>
    </RadzenColumn>
   
</RadzenRow>
<RadzenRow>
 <RadzenColumn SizeXL="12">
  <RadzenCard>
  <RadzenHeading Text="Traffic Offenders"></RadzenHeading>
  <RadzenDataGrid TItem="Server.Models.ConData.SpeedMeasurement" Data="@trafficOffenders">
      <Columns>
         <RadzenDataGridColumn TItem="VehicleMonitoringSystem.Server.Models.ConData.SpeedMeasurement" Property="Vehicle.VIN" Title="Vehicle">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="VehicleMonitoringSystem.Server.Models.ConData.SpeedMeasurement" Property="DateAndTimeInserted" Title="Date Offence Was Committed">
                </RadzenDataGridColumn>
                <RadzenDataGridColumn TItem="VehicleMonitoringSystem.Server.Models.ConData.SpeedMeasurement" Property="SpeedInKmPerHour" Title="Speed In Km/h">
                </RadzenDataGridColumn>
      </Columns>
  </RadzenDataGrid>
 
  </RadzenCard>
 </RadzenColumn>
</RadzenRow>
 